Source: ruby-json-stream
Section: ruby
Priority: optional
Maintainer: FOSS Team SaM-Solutions <foss@sam-solutions.net>
Uploaders:  <e.lavnikevich@sam-solutions.net>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.3.0~)
Standards-Version: 0.1.3
Homepage: https://github.com/SaM-Solutions/ruby-json-stream
XS-Ruby-Versions: ruby1.9.1

Package: ruby-json-stream
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: A Ruby JSON parser with SAX-like model.
 A Ruby JSON parser, based on a finite state machine,
 that generates event for each state change.
